
$clr-yellow: #fce138;
$clr-lightBlue: #39a6b2;
$clr-darkBlue: #024e76;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $clr-lightBlue;
  font-family: Helvetica, Arial, sans-serif;
}

/*  <section>  */
section {
  padding: 60px;
}

// ---------------------------------------------------------
//                  1 - Header
// ---------------------------------------------------------

header {
  padding: 20px 35px;
  background-color: $clr-lightBlue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: $clr-yellow;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: $clr-yellow;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}


// ---------------------------------------------------------
//                  8 - Footer
// ---------------------------------------------------------

footer {
  background-color: $clr-yellow;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
    color: $clr-darkBlue;
    font-size: 30px;
    margin: 0;
  }

  div {
    line-height: 1.5;
    text-align: right;
  }

  a {
    color: $clr-darkBlue;
  }
}



// ---------------------------------------------------------
//                  2 - Hero section
// ---------------------------------------------------------

.hero {
  height: 600px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// HERO CALL TO ACTION div
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;

  h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
  }
}

// Hero Form

.hero-form {
  width: 40%;
  margin: 3.5%;
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: $clr-darkBlue;
  border: solid 3px $clr-darkBlue;
  bottom: 120px;
  right: 140px;

  h3 {
    font-size: 1.5em;
  }

  p {
    margin: 5px 0 15px 0;
  }

  label {
    margin: 0 5px;
  }

  button {
    color: #fce138;
    background-color: $clr-darkBlue;
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
}

.text-labels {
  font-weight: bold;
}

.form-input {
  border:solid 1px $clr-darkBlue;
  display:block;
  padding: 7px 15px;
  font-size: 16px;
  color: $clr-darkBlue;
  width:100%;
  margin-top: 2px;
  margin-bottom: 15px;
}

.radio-yes {
  margin-left: 10px;
}

// ---------------------------------------------------------
//                  3 - What We Do
// ---------------------------------------------------------

.intro p {
  text-align: center;
  line-height: 1.7;
  color: $clr-lightBlue;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}


// ---------------------------------------------------------
//                  4 - What You Do
// ---------------------------------------------------------

.steps {
  background: #fce138;

  p {
    color: $clr-lightBlue;
    font-size: 23px;
  }
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: $clr-darkBlue;
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid $clr-lightBlue;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h3 {
    flex: 1 30%;
    color: $clr-darkBlue;
    font-size: 46px;
  }

}

.step-info {
  flex: 2 70%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;

  img {
    max-width: 100%;
  }
}

.step-text {
  flex: 12;
}

// ---------------------------------------------------------
//                  5 - Meet The Trainers
// ---------------------------------------------------------

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  flex: 1;
  margin: 20px;
  background: $clr-darkBlue;
  color: #fce138;
  display: flow-root;
}

.trainer img {
  width: 100%;
}

.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
}

// ---------------------------------------------------------
//                  6 - Reach Out
// ---------------------------------------------------------

.contact {
  background-color: $clr-darkBlue;

  h2 {
    color: #fce138;
  }

  .contact-info {
  
    iframe {
      width: 400px;
      height: 400px;
    }
  
    div {
      width: 410px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 30px 0 0 60px;
      color: white;
      line-height: 1.5;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    h3 {
      color: #fce138;
      margin-bottom: 25px;
      font-size: 25px;
    }
  
    address {
      line-height: 1.5;
      margin-bottom: 20px;
      font-style: normal;
    }
  
    a {
      color: #fce138;
    }
  }

}

// ---------------------------------------------------------
//                  9 - Utility Classes
// ---------------------------------------------------------

.flex-row {
  display: flex;
}

.section-title {
  padding-bottom: 20px;
  margin: 0 auto 35px auto;
  width: 50%;
  text-align: center;
  font-size: 55px;
  color: $clr-darkBlue;
  border-bottom: 3px solid;
}

.primary-border { border-color: #fce138; }
.secondary-border { border-color: $clr-lightBlue; }
.text-left { text-align: left; }
.text-right { text-align: right; }