/* Utility Classes */

.section-title {
  display: inline-block;
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
}

.primary-border { border-color: #fce138; }
.secondary-border { border-color: #39a6b2; }
.text-left { text-align: left; }
.text-right { text-align: right; }
